header {
    padding: 0px;
    margin: 0px;
}
header.index {
    background: #4287b0;
}
header.waterfalls {
    background: #4287b0;
}
header.rivers {
    background: #0075cd;
}
header.lakes {
    background: #0b598a;
}
header.oceans {
    background: #0088ad;
}

body {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

li {
    display: table-cell;
    overflow-wrap: break-word;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
}

ul {
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background: white;
    color: #4287b0;
    padding: 20px;
}

a.fl:hover {
    background: white;
    border-radius: 5px;
    padding: 5px;
}

a.btt {
    color: black;
    padding: 10px;
}

a.fl {
    display: inline-block;
}

.btt:hover {
    color: #4287b0;
    font-weight: 700;
}

.footer {
    font-size: 16px;
}

img.main {
    object-fit: scale-down;
    display: block;
    object-fit: cover;
    text-align: center;
    padding: 0px;
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
}

img {
    object-fit: scale-down;
    text-align: center;
    min-width: 300px;
    max-width: 2000px;
    max-height: 2000px;
    border-radius: 20px;
    box-shadow: 3px 2px 5px #AAAAAA;
}

p {
    font-size: 24px;
    margin: 24px 300px;
}

p.quote {
    text-align: center;
    text-decoration: wavy;
    font-size: 50px;
    color: #4287b0;
}

p.desc {
    font-size: 20px;
    font-style: italic;
}

main {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    background: #4287b0;
    color: white;
    margin: 10px 0 0;
    padding: 10px;
}

footer.index {
    background: #195472;
}
footer.waterfalls {
    background: #080e0a;
}
footer.rivers {
    background: #0075cd;
}
footer.lakes {
    background: #0b598a;
}
footer.oceans {
    background: #e54d5a;
}

/* Responsive Design*/

/*1440p & 1080p Support*/
@media screen and (max-width: 1440px) {
    img {
        max-height: 1000px;
        max-width: 1000px;
    }
    p {
        margin: 24px 200px;
    }
}

/*iPad Support*/
@media screen and (max-width: 1024px) {
    p {
        margin: 20px 100px;
    }
    img {
        max-width: 80%;
        max-height: 80%;
    }
}
/*Standard Chrome Support*/
@media screen and (max-width: 768px) {
    p {
        margin: 20px;
    }
    img {
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (max-width: 710px) {
    img {
        max-width: 80%;
        max-height: 80%;
    }
    a {
        font-size: 24px;
    }
    ul {
        padding: 0px 0px 0px 20px;
    }
}

@media screen and (max-width: 674px) {
    img {
        max-width: 80%;
        max-height: 80%;
    }
    a {
        font-size: 20px;
    }
    ul {
        display: block;
        padding: 0px;
    }
}


@media screen and (max-width: 425px) {
    header {
        font-size: 10px;
    }
    li {
        padding: 0px;
    }
    a {
        padding: 0px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        padding: 0px;
    }
    p.quote {
        font-size: 10px;
    }

}